 @import url('https://cdn.jsdelivr.net/gh/ajeshrj14/granite-style@refs/heads/main/stle1.css');

 :root{
    --gradientBg: linear-gradient(45deg, #056553, #224660);
    --tableHeadBg:#1f4f5a;
    --alternateRowBg:#d1dbd9;
}
body{overflow-x: hidden;}
/*.tab-box td{background:none !important;}*/
body:nth-of-type(1) div.gridbox_dhx_skyblue table.hdr tr{background:var(--tableHeadBg) !important;}
.hdrcell { color: #fff;}
.DSI-front{background-color: #dae3ea;}
.report-bx1{width:99.5%;}
#DynamicGrid1 { border: 1px solid #8397a9;}
#DynamicGrid1 tr:nth-child(even), #tbodyProductDetails tr:nth-child(even), #TBodyDetails tr:nth-child(even){ background: #f6f6f6;}

.header table { display: flex; flex-wrap: wrap;  width: auto !important;}
.header table tbody{width: 100% !important;}
.header table tr { display: flex;  width: 100%;}
.product-menu { flex: 1 0 0;  display: inherit !important;}
.header table tr th.product-menu:nth-child(3) {flex:0 1 0;}
#stUI2 tr td.sttd{width: 100%;box-sizing: content-box;}
div.menu{width:100%;}
.sttd > a table tr td span { margin-top: 0px !important; display:block; text-align: center;}
.login-details div img { width: 15px;  height: 15px;  border: 2px dotted #fff;}
.tBottom { background: #34648d;}
tr td.transBg { background: #4b729a !important;}
.accBg{background:#dae3ea !important;}
table#tblDiscountInfo { background: #bac5ce;  padding: 0;}
#TbodyRolePermInfo td{padding:3px;}
table#tblDiscountInfo { padding: 0;}
#TbodyRolePermInfo tr:nth-child(odd) td { background: #d7e0e8 !important}
#TbodyRolePermInfo tr:nth-child(even) td {background: #f6f6f6 !important;}
#DynamicGrid td {padding: 2px;}
/*#DynamicGrid tr:nth-child(odd) td { background: #f9f9f9 !important;}
#tbodyEditProduct tr:nth-child(even) td,#tbodyAddBranch tr:nth-child(even) td {background: #f6f6f6 !important;}*/

.alternateRow { border-collapse: collapse;}
.alternateRow tbody { border-left: 1px solid #96a1ab !important;}
/*.alternateRow tbody tr:nth-child(even) {background: white;}
.alternateRow tr:nth-child(odd) td { background: #d7e0e8 !important;}
.alternateRow tr:nth-child(even) td { background: #f6f6f6 !important;}*/

/*Begin Page loader style */
#preloader {position: fixed; left: 0; top: 0; z-index: 10000; width: 100%; height: 100%; overflow: visible; background:rgba(0,0,0,.3); }
.loader {min-width: 100px;}
.circle-loader-1 {width: 50px; min-width: 50px; height: 50px; min-height: 50px; display: flex; align-items: center; justify-content: center;
 margin: auto; border-radius: 50%; border-top: 5px solid rgba(255, 255, 255, 0.2); border-right: 5px solid rgba(255, 255, 255, 0.2); 
 border-bottom: 5px solid rgba(255, 255, 255, 0.2); border-left: 5px solid #26b0e2;  -webkit-transform: translateZ(0); 
 -ms-transform: translateZ(0);  transform: translateZ(0); -webkit-animation: circle-loader-spin 1s infinite linear;
 animation: circle-loader-spin 1s infinite linear;     position: absolute;   left: 0;   right: 0;   top: 40%;}

@keyframes circle-loader-spin {  0% {   -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% {   -webkit-transform: rotate(360deg);   transform: rotate(360deg); }}
/*End Page loader style */

/*div.gridbox_dhx_skyblue .ev_dhx_skyblue {  background: #d7e0e8 !important;}
div.gridbox_dhx_skyblue .odd_dhx_skyblue { background-color: #f6f6f6 !important;}*/


table {border-collapse: inherit;}
.product-menu .sttd {  width: 100%;}

.moreBtn {float: right; color: #fff !important;  margin: 0;  background: #21639c; border-color: #325b86;}

.fabric-theme .yui-nav .selected a, .fabric-theme .yui-nav .selected a:focus, .fabric-theme .yui-nav .selected a:hover {background:linear-gradient(#8a76da,#684392) !important;  border-color: #0858c7;}
.fabric-theme .yui-nav .selected a, .fabric-theme .yui-nav .selected a em {border-color: #774bea;}
.fabric-theme .yui-nav a, .fabric-theme .yui-nav a {background: linear-gradient(#412d77,#30527b); color: #fff;}
.fabric-theme .yui-nav a:hover, .fabric-theme .yui-nav a:focus {   background:linear-gradient(#412d77,#30527b);color: #fff; }
.fabric-theme .yui-content, .fabric-theme .yui-content {background:#c4bfef;}
.fabric-theme .search-box {background: #dce9f3 !important;}
.fabric-theme .search-title {border-color:#3d3780;background: #3d3780 !important;}
.fabric-theme tr.yui-dt-even {background-color: #fff !important;}
.fabric-theme tr.yui-dt-odd {background-color: #d0dee8 !important;}
.fabric-theme .tab-box { background-color: #c9d3dc;}
.fabric-theme .tab-box {  background-color:#e2dffb;}
.fabric-theme .tab-box th {  background-color:#3d3780 !important;}
.fabric-theme .but-stle { background:linear-gradient(#8a76da,#684392) !important;border: 1px solid #8759ff;}
.fabric-theme .but-stle:hover{ background:linear-gradient(#684392,#8a76da) !important;}
.fabric-theme .yui-nav, .fabric-theme .yui-navset-top .yui-nav { border-color: #5d5796;}
.fabric-theme .yui-dt-table th {background-color:#3d3780;}
.fabric-theme tr.yui-dt-selected td, .fabric-theme tr.yui-dt-selected td.yui-dt-asc, .fabric-theme tr.yui-dt-selected td.yui-dt-desc {background-color:#786a9e;}
.fabric-theme .but-stle[disabled] { background: #b8bec3 !important; color: #7d7f82 !important;  cursor: not-allowed !important;  border-color: #828282 !important;}
.fabric-theme .but-stle[disabled]:hover, .fabric-theme .but-stle[disabled]:focus {    background: #b8bec3 !important;    box-shadow: unset !important;    border-color: #828282 !important;  }

input:focus, textarea:focus,select:focus {border-color: #139ff0; box-shadow: 0px 0px 0px 1px #139ff0;}

/*#stUIJune121,#stUIJune136,#stUI114_cnt,#stUI132_cnt{background:rgb(111, 145, 180) !important;}
#stUIJune121:hover,#stUIJune136:hover,#stUI114_cnt:hover,#stUI132_cnt:hover{background:rgb(111, 145, 180) !important;}
*/

td span.stsp {color: #fff!important;line-height: inherit !important;}
.but-stle{border: 1px solid #3e3e3e!important;height: 22px !important;}

.searchBtn { min-width: 90px;  margin: 0; border: 1px solid #fff !important;  height: 25px !important; background: linear-gradient(#12aecc,#0a828f) !important;
border-radius: 2px !important; box-shadow: 1px 2px 1px 0px #a0a0a0; font-weight: 600;  font-size: 13px;}
.searchBtn:hover,.searchBtn:focus{background: linear-gradient(#0a828f,#12aecc) !important;border: 1px solid #fff !important; box-shadow: 1px 2px 1px 0px #a0a0a0 !important; }

.search-box { height: initial;}

.dashboardOuter,.row1 {height:100%;}
.row1 {  display: -ms-flexbox;  display: flex;  -ms-flex-wrap: wrap;  flex-wrap: wrap;}
.leftCol,.rightCol{flex:1 0 0;-ms-flex-preferred-size: 0;   -ms-flex-positive: 1; }
.rightCol{margin-left:1.2em;}
.leftCol{background:#4b7199;padding: 10px; overflow: hidden;  max-width: 23em;  border-radius: 8px;}
.filter-sort-ico{width:28px; height: 28px; background: url(../images/sort-icon.png) no-repeat scroll center center; display: block;}
.filter-sort2-ico{width:28px; height:28px; background: url(../images/filter-icon.png) no-repeat scroll center center; display: block;}
.filter-arrow-ico{width:28px; height: 28px; background: url(../images/filter-arrow-down.png) no-repeat scroll center center; display: block;}
.filter-arrow-ico2{width:28px; height: 28px; background: url(../images/filter-arrow-up.png) no-repeat scroll center center; display: block;}
.filterHead ul{list-style: none; padding: 0;margin:0; display:flex; flex-wrap: nowrap; display:-ms-flexbox;-ms-flex-wrap: nowrap;   justify-content: flex-end;
align-items: flex-end;}
.filterHead ul li i{cursor: pointer;}
.filterHead ul li i:hover,.filterHead ul li i:focus{opacity:.7;}
.filterBox { border: 1px solid #c9d9ea;  border-radius: 8px;  overflow: hidden;margin-bottom: 1em;}
.filterHead {  padding:4px 8px;  background: linear-gradient(#284772,#356a92);  display: flex;  flex-wrap: nowrap;flex-direction: row;}
.filterHead h3 {  flex: 1 0 0; -ms-flex-preferred-size: 0;   -ms-flex-positive: 1;   color: #fff;  font-size: 14px;  display: flex;  align-items: center;}
.filterBody{background:#c9d9ea;padding:8px;max-height: 200px;  overflow-y: auto;}
.filterBody ul{list-style: none; padding: 0;margin:0; }
.filterBody ul li { border: 2px solid #8ca6c3;   border-radius: 8px;  background: #fff;  font-size: 14px;  font-weight: 600;  margin: 0 0 6px;
display: flex;  align-items: center;  cursor: pointer;transition:.3s all ease-in-out 0s; -moz-transition:.3s all ease-in-out 0s;-webkit-transition:.3s all ease-in-out 0s; -o-transition:.3s all ease-in-out 0s;}
.filterBody ul li:hover,.filterBody ul li:focus{background: #9fc4d6;}
.filterBody ul li.active{background: #0085c7; color: #000; border-color: #2d537d; border-width: 2px;}
.filterBody label{display: block; width: 100%; padding: 5px; height: 22px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.filterBody input[type="radio"] { visibility: hidden; margin-left: -11px;}
.filterDateSec label { font-size: 12px; font-weight: 600;  font-family: sans-serif; padding: 0;  display: flex; align-items: center;}
.filterDateSec .form-group { margin: 0 0 5px;}
.filterDateSec input {  border: 2px solid #8ca6c3; height: 22px;  padding: 5px;  border-radius: 8px;  width: 95%;  font-size: 14px; font-weight: 600;}

.topSec{background: #4b7199; padding: 10px;  overflow: hidden;  max-width: 25em;  border-radius: 8px;display: -ms-flexbox;  display: flex;  -ms-flex-wrap: wrap;  flex-wrap: wrap;
max-width: 100%; }
.topSecCol { flex: 1 0 10%;  border: 1px solid #204367;  border-radius: 8px;padding: 10px; margin: 0 10px 0 0;background: #c9d9ea;}
.topSecCol:last-child {margin-right: 0;}
.topSecHead {  background: #a5bed8;  padding: 8px;border-radius: 8px;    display: flex;  flex-direction: row;   align-items: center;}
.topSecHead .tsL { display: flex;  flex-direction: row;  flex: 0 1 120px;}
.topSecHead .tsL h5 {  font-size: 14px;    color: #2a4b76;   margin-left: 6px;  line-height: 19px;  margin-right: 10px;}
.topSecHead .tsR {  flex: 1 0 0;position: relative;-ms-flex-preferred-size: 0;   -ms-flex-positive: 1;}
.topSecHead .tsR select { border: 1px solid #718dac;padding: 5px;font-size: 21px;  font-weight: 600;  width: 100%;    border-radius: 8px; color:#2a4b76;
background: #a5bed8; outline: none;  appearance: none;  -webkit-appearance: none;    -moz-appearance: none;    -ms-appearance: none; position: relative;    padding-right: 32px;}
.topSecHead .tsR select::-ms-expand{display:none;}
.topSecHead .tsR::after{content:""; width:28px; height:28px; display: block; position: absolute; top:4px; right:5px; background: url(../images/sel-arrow.png) no-repeat scroll center center;
pointer-events: none;}
.topSecBody {  display: flex;  flex-wrap: nowrap; padding: 5px 0;justify-content: space-between;}
.topSecBody .dtL,.topSecBody .dtR { flex: 1 0 0;    max-width: 49%;}
.topSecBody  label { color: #2a4b76; font-weight: 600;}
.topSecBody input { border: 1px solid #8ca6c3;  padding: 3px 6px;  height: 26px;  color: #2a4b76; border-radius: 6px;  width: 100%;  box-sizing: border-box;
cursor: not-allowed;}
.topSecBody input:hover,.topSecBody input:focus{outline: none !important; box-shadow: none !important;}

.colapseBx { margin: 1em 0; border:1px solid #4b729a;border-top:0; box-sizing: border-box;}
.colapseBx .filterBody{background:#f7f7f8;max-height: 27em;height:30em;    overflow: auto;}
.colapseBx .table-responsive{}
.tableBorder { width: 100%;  border: 1px solid #c6d3e2;  border-radius: 1em;  border-spacing: 0;  border-collapse: collapse;  box-sizing: border-box;}
.tableBorder td, .tableBorder th {padding: 8px 3px; border: 1px solid #c6d3e2;  margin: 0; border-spacing: 4px;text-align: left;}
.tableBorder th { font-weight: 600;}
.tableBorder tr { border-bottom: 1px solid #c6d3e2; border-spacing: 0;}
.tableBorder thead tr{background:#c1cfde;}
.tableDateSec .form-group { display: flex;    display: -ms-flexbox;  flex: 1 0 0; align-items: center;}
.tableDateSec {  display: flex; display: -ms-flexbox;     margin: 5px 0;  }
.tableDateSec .form-group label {flex:1 0 0; max-width:69px;}
.tableDateSec .form-group label input {  flex: 1 0 0;}
.tableDateSec .form-group input {  flex: 1 0 0;  width: auto;   border: 1px solid #8ca6c3;  height: 14px;  font-size: 14px;}
.tableDateSec .form-group:first-child { margin-right: 6px;}
.progressBar { width: 100%; height:17px;  background: #b7c8d0;  border-radius: 8px;  position: relative;  overflow: hidden;}
.progressFill {  display: block;  background: #0085c7; height: 100%;   position: absolute;  left: 0px;  border-radius: 8px;    -webkit-transition: width .6s ease;  -o-transition: width .6s ease;
transition: width .6s ease;}
.viewBtnT { background: linear-gradient(#284772,#356a92); color: #fff !important; font-size: 12px;  padding: 2px 8px;  font-weight: 600;  width: 67px;  height: 19px; 
border-radius: 8px;  display: flex;  display: -ms-flexbox;  align-items: center;justify-content: center;}

.viewMrBtn {color: #d0dbe6 !important;  margin: 0;  padding: 2px 10px;  height: 22px;  box-sizing: border-box;  border-radius: 6px;  border: 1px solid #92b6db;
text-transform: uppercase; line-height: 17px;font-size: 11px; margin-top: 3px;}

span.docuOpen,span.docuOpen button {display: flex; background: #a5bed8; text-align: center; display: -ms-flexbox; justify-content: center; align-items: center; width: 32px;
height: 30px;  border: 1px solid #718dac;   border-radius: 5px;  margin-left: 8px; cursor: pointer;}
.docuOpen button { background: none;  border: none;   width: 100%;  display: block;}
span.docuOpen img { width: 19px;}

/* Side popup Style start*/
.sidePopupOuter {position: absolute;background: #f7f7f8;  width: 800px; box-sizing: border-box;  overflow: unset; box-shadow: 0px -17px 13px 1px #3c3c3c; right: 0;
 top: 0; z-index: 11; height: 100%; display:none;}
.sidePopCont { padding: 1em; overflow: auto; height: 100%; box-sizing:border-box;}
.popBg { position: relative; overflow: hidden;}
.popBg::after { position: absolute; top: 0; content: ""; height: 100%; width: 100%; background: rgba(0,0,0,.5); z-index: 10;}
.popClose{cursor: pointer;}
.popClose { position: absolute; left: -30px; background: #d03b3b;  width: 30px; height: 50px; display: flex;  display: -flex-box-;  justify-content: center;  align-items: center;
color: #fff;  font-size: 18px;  top: 10px;    border-radius: 6px 0 0 6px;}
/* Side popup Style End*/


 input,select,button {border-radius: 7px;}
 input[type="text"],input[type="number"],select {height: 24px; padding: 1px 5px; box-sizing: border-box; border-radius: 7px;}
textarea {border-radius: 7px;}

.yui-navset .yui-nav .selected a, .yui-navset .yui-nav .selected a em {border-radius: 7px 7px 0 0;}
.textRight{text-align:right!important;}
.textCenter{text-align:center!important;}
i.subArrow {display: block; cursor: pointer;  height: 15px; background:url(images/select-arrow.png) no-repeat scroll center center;}
i.subArrowUp {display: block; cursor: pointer;  height: 15px; background:url(images/select-arrow-up.png) no-repeat scroll center center;}
i.subArrow:hover,i.subArrow:focus{opacity:.5;}

.table, th, .table td {padding: 3px !important;}
.alternateRow tr:nth-child(odd) td {background: #f3f3f3 !important;}
.alternateRow tr:nth-child(even) td {background: #d7e0e8 !important;}
.alternateRow td, .alternateRow th {border-bottom: 1px solid #d1d1d1}
.invalidInput {border-radius: 5px;}

.yui-navset .yui-nav li, .yui-navset .yui-navset-top .yui-nav li, .yui-navset .yui-navset-bottom .yui-nav li { display: inline-block;}
.alternateRow tr.parentItem:hover td, .subItem .alternateRow tbody tr.parentItem:hover td { background: #94d2ea !important;  cursor: pointer;}


/*New popup style*/
#popupWindow {box-shadow: 1px 3px 12px 3px #4a4a4a;border-radius: 8px;padding: 0px;border: none;}
.popwintoolbar {background: #151d2c !important;height: 33px;padding: 5px;box-sizing: border-box;border-radius: 4px 4px 0 0;border: none;}
.tab-popup {background: #2a344a;margin: 0 !important;padding: 7px;border: none !important;}
.tab-popup td {color: #fff;}
.tab-popup input {background: #e5ebf9;box-sizing: border-box;border: 1px solid #4a5264;}
.tab-popup .but-stle {background: linear-gradient(#38538f,#083a5c) !important;border-color: #33568b !important;}
.tab-popup .but-stle:hover { background: linear-gradient(#052942,#344466) !important; border-color: #375685 !important;}
.tab-popup th {background: #4e5a72 !important;}
.tab-popup td {background: none !important;}
.tab-popup table#results {border-spacing: 0px; background: #28344c;}
.tab-popup table#results td {border: 1px solid #3a4c6e;}
.tab-popup table#results td a{color:#fff;}
.tab-popup .tab-boxE,.tab-popup .objbox {border: 1px solid #3a4c6e !important;background-color: #28344c !important;}
.tab-popup div.gridbox_dhx_skyblue table.hdr td{border-color: #a4bed4;}
.tab-popup .tab-box {background: #28344c; border-color: #3a4c6e;}
.tab-popup div.gridbox_dhx_skyblue .odd_dhx_skyblue { background: #3a4b6c; }
.tab-popup div.gridbox_dhx_skyblue table.obj tr.rowselected { background-color: #7ca0e9;}
fieldset:disabled { opacity: .3;}

.tab-popup table tbody.alternateRow tr:nth-child(odd) td { background: #313e5a !important;}
.tab-popup table tbody.alternateRow tr:nth-child(even) td {background: #212a3e !important;}
.tab-popup table tbody.alternateRow tr td { border: none !important;}




.rpBtn {background: #f4f4f4; height: 22px;width: 30px; display: flex;align-items: center;justify-content: center;font-weight: bold;border-radius: 3px;border: 1px solid #8a8a8a;font-size: 11px;color: #000;margin-right: 1px;}
.rpBtn:hover, .rpBtn:focus {color: #fff;background: #3c3b3b;border-color: #fff;box-shadow: 1px 1px 1px 0px #333;}

div.gridbox_dhx_skyblue .odd_dhx_skyblue { background-color: var(--alternateRowBg);}
.icoleft li:nth-child(1) i path { fill: revert-layer;}

 /* start Each Letter Zoom */
.zoom-letter-btn {position: relative;font-size: 9px;font-weight: bold;color: #fff;cursor: pointer;overflow: hidden;
    display: flex;gap: 4px;background: no-repeat;border: none;margin: 0px auto;}
.zoom-letter {display: inline-block;animation: letterZoom 0.7s ease-in-out infinite;position: relative;z-index: 1;}

        .zoom-letter:nth-child(1) { animation-delay: 0s; }
        .zoom-letter:nth-child(2) { animation-delay: 0.1s; }
        .zoom-letter:nth-child(3) { animation-delay: 0.2s; }
        .zoom-letter:nth-child(4) { animation-delay: 0.3s; }
        .zoom-letter:nth-child(5) { animation-delay: 0.4s; }
        .zoom-letter:nth-child(6) { animation-delay: 0.5s; }
        .zoom-letter:nth-child(7) { animation-delay: 0.6s; }
        .zoom-letter:nth-child(8) { animation-delay: 0.7s; }
        .zoom-letter:nth-child(9) { animation-delay: 0.8s; }
        .zoom-letter:nth-child(10) { animation-delay: 0.9s; }
        .zoom-letter:nth-child(11) { animation-delay: 0.10s; }

        @keyframes letterZoom {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
        }
 /* end Each Letter Zoom */

.icon-bar li a i{ transform-origin:50% 50%;
  animation: zoomInOut 1.2s ease-in-out infinite;}

/* Keyframes: zoom in then back out */
@keyframes zoomInOut {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}








@media (max-width: 1500px) { 

th.product-head { font-size: 10px;}
table#stUI2_body td span {padding: 2px 5px;}
.lTime i{font-size:20px;}
.show-hide{height:23px;}
.sttd > a table{padding:0 2px;}
.icon-bar li a span{font-size:10px;}
.icon-bar li a i{font-size:20px;}
.stdv td span { font-size: 11px !important;}
}

.popupStyle td { background: #f1f1f1;}
.popupStyle .but-stle { background: #545454 !important;}
#Paging {overflow-x: auto;}

/*auto complete style */
table#tblookup {
    min-width:250px;
    width: max-content;
}
table#tblookup tr th {
    background: #304c7b !important;
    border: none !important;
    color: #fff;
}
table#tblookup tr td {
    cursor: pointer;
    background: #eff7ff;
    padding: 3px;
}
table#tblookup tr:nth-child(odd) td {
    background: #d9e1ef;
}
table#tblookup tr td:hover {
    background: #587995 !important;
    color: #fff;
}









